<!---->
<div class="first-div">
  <!--  <button mat-raised-button color="primary" class="btn btn-primary" (click)="latestPull($event)">Reload</button>-->
  <button type="button" class="btn btn-primary ml3" (click)="latestPull($event)"><i class="fas fa-sync-alt fa-fw"></i> Reload in <span class="timer">60</span></button>
  <button type="button" *ngIf="isAdmin" class="btn btn-primary ml3" (click)="AddHost()"><i class="fas fa-plus fa-fw"></i> Add Host</button>
  <!-- <button type="button" class="btn btn-primary ml3 timer" (click)="latestPull($event)"><i class="fas fa-sync-alt fa-fw"></i> 60</button> -->
  <button type="button" class="btn btn-primary ml3">
    <mat-slide-toggle [(ngModel)]="isChecked" name="check" (change)="latestPull($event)"><i class="fas fa-sync-alt fa-fw"></i> Auto Reload 60/s: {{isChecked}}</mat-slide-toggle>
  </button>
  <button type="button" class="btn btn-danger float-right mr-2" (click)="logout()"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</button>
  <!--  <button mat-raised-button color="primary" class="btn btn-primary ml3" (click)="AddHost()">Add Host</button>-->

</div>

<kendo-grid [kendoGridBinding]="responseData"
            kendoGridSelectBy="_id"
            [pageable]="false"
            [sortable]="true"
            [reorderable]="true"
            [resizable]="true"
            [loading]="loading"
            [columnMenu]="{ filter: true }"
            [trackBy]="trackBy"
            class="grid-sm chocolaty kendo-grid-clickable kendo-grid-stripped"
            style="overflow: hidden; height: calc(100vh - 5px);">
  <kendo-grid-checkbox-column title="" [width]="40" aria-checked="true">
    <ng-template kendoGridCellTemplate let-idx="rowIndex">
      <input [kendoGridSelectionCheckbox]="idx" />
    </ng-template>
  </kendo-grid-checkbox-column>
  <kendo-grid-column field="hostName" title="HostName" [width]="210"></kendo-grid-column>
  <kendo-grid-column field="ipAddress" title="Address" [width]="135"></kendo-grid-column>
  <kendo-grid-column field="status" title="Service" [width]="130" class="text-center">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="nowrap text-center">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#serviceModal" (click)="selectedService = dataItem">
          <span>
            <i class="fab fa-scribd fa-fw"></i>
            <span class="small mr-1">Services</span>
            <span *ngIf="!dataItem.status" class="badge badge-secondary ml-2">&nbsp;&nbsp;</span>
          <span *ngIf="dataItem.status === EStatus.UP" class="badge badge-success ml-1">
            <i class="fas fa-angle-double-up fa-fw"></i>
          </span>
          <span *ngIf="dataItem.status === EStatus.DOWN" class="badge badge-danger ml-1">
            <i class="fas fa-angle-double-down fa-fw"></i>
          </span>
          <span *ngIf="dataItem.status === EStatus.S_DOWN" class="badge badge-warning ml-1">
            <i class="fas fa-angle-double-right fa-fw"></i>
          </span>
          </span>
        </button>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="hostCheck" title="Check" [width]="80">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="switch">
        <kendo-switch data-toggle="modal" [(ngModel)]="dataItem.hostCheck" (ngModelChange)="switchChange($event, dataItem)"></kendo-switch>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="linkTo" title="Linked" [width]="70">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#linkModal" (click)="this.selectedService = dataItem">
        <i class="fas fa-link fa-fw"></i>
      </button>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="groupName" title="GroupName" [width]="130"></kendo-grid-column>
  <kendo-grid-column field="clusterName" title="ClusterName" [width]="170"></kendo-grid-column>
  <kendo-grid-column field="envName" title="Env" [width]="80"></kendo-grid-column>
  <kendo-grid-column field="vmName" title="VM" [width]="80"></kendo-grid-column>
  <kendo-grid-column field="note" title="Note" class="nowrap" [width]="150"></kendo-grid-column>
  <kendo-grid-column *ngIf="isAdmin" field="linkTo" title="Options" [width]="150">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="nowrap text-center">
        <button type="button" class="btn btn-primary btn-sm ml3" (click)="editData(dataItem)">
          <i class="fas fa-edit fa-fw"></i>
        </button>
        <button type="button" class="btn btn-info btn-sm ml3" (click)="cloneData(dataItem)">
          <i class="far fa-clone fa-fw"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm ml3" (click)="deleteData(dataItem)">
          <i class="fas fa-trash fa-fw"></i>
        </button>
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

<!-- Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div *ngIf="selectedService" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mb-0 bold" id="serviceModalLabel">{{ selectedService.hostName }} {{ selectedService.ipAddress }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-1">
        <kendo-grid [kendoGridBinding]="selectedService.port"
                    class="grid-sm chocolaty"
                    kendoGridSelectBy="_id"
                    [pageable]="false"
                    [sortable]="true"
                    [reorderable]="true"
                    [resizable]="true"
                    [loading]="loading"
                    [columnMenu]="{ filter: true }"
                    [trackBy]="trackBy">
          <kendo-grid-column field="name" [width]="180" title="ServiceName"></kendo-grid-column>
          <kendo-grid-column field="port" [width]="75" title="Port"></kendo-grid-column>
          <kendo-grid-column field="status" [width]="75" title="Status">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span *ngIf="dataItem.status === EStatus.UP" class="badge badge-success ml-1">
                <i class="fas fa-angle-double-up fa-fw"></i>
              </span>
              <span *ngIf="dataItem.status === EStatus.DOWN" class="badge badge-danger ml-1">
                <i class="fas fa-angle-double-down fa-fw"></i>
              </span>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- link modal -->
<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div *ngIf="selectedService" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mb-0 bold" id="linkModalLabel">{{ selectedService.hostName }} {{ selectedService.ipAddress }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-1">
        <kendo-grid [kendoGridBinding]="selectedService.linkTo"
                    class="grid-sm chocolaty"
                    [height]="410"
                    kendoGridSelectBy="_id"
                    [pageable]="false"
                    [sortable]="true"
                    [reorderable]="true"
                    [resizable]="true"
                    [loading]="loading"
                    [columnMenu]="{ filter: true }"
                    [trackBy]="trackBy">
          <kendo-grid-column field="hostName" title="HostName"></kendo-grid-column>
          <kendo-grid-column field="ipAddress" [width]="135" title="Address"></kendo-grid-column>
          <kendo-grid-column field="port" [width]="75" title="Port"></kendo-grid-column>
        </kendo-grid>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

