<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
    <!--  <button mat-raised-button color="primary" class="btn btn-primary" (click)="latestPull($event)">Reload</button>-->
    <button type="button" class="btn btn-secondary ml3" (click)="latestPull($event)"><i
        class="fas fa-sync-alt fa-fw"></i>
      Reload in <span class="timer">{{timer}}</span></button>
    <button type="button" *ngIf="isAdmin" class="btn btn-primary ml3" (click)="AddHost()"><i
        class="fas fa-plus fa-fw"></i> Add Host</button>
    <button type="button" class="btn btn-primary ml3">
      <i class="fas fa-sync-alt fa-fw"></i> Reload 60s&nbsp;
      <mat-slide-toggle [(ngModel)]="isChecked" name="check" (change)="autoReload($event)"></mat-slide-toggle>
    </button>
    <button type="button" *ngIf="isAdmin" class="btn btn-primary ml3" (click)="showInternetStatus()"><i
        class="fab fa-internet-explorer"></i>&nbsp;&nbsp;
      <mat-slide-toggle [(ngModel)]="this.intChecked" name="check" (change)="internetCheck($event)"></mat-slide-toggle>
    </button>
    <button type="button" *ngIf="isAdmin && this.intChecked" class="btn btn-primary ml3 dropdown-toggle"
      id="dropdownInternetCheck" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-chart-area"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownInternetCheck">
      <li><a class="dropdown-item" (click)="internetChartGet(24)">2H Metrics</a></li>
      <li><a class="dropdown-item" (click)="internetChartGet(48)">4H Metrics</a></li>
      <li><a class="dropdown-item" (click)="internetChartGet(96)">8H Metrics</a></li>
      <li><a class="dropdown-item" (click)="internetChartGet(144)">12H Metrics</a></li>
      <li><a class="dropdown-item" (click)="internetChartGet(288)">24H Metrics</a></li>
      <li><a class="dropdown-item" (click)="internetChartGet(576)">48H Metrics</a></li>
      <li><a class="dropdown-item" (click)="internetChartGet(2016)" *ngIf="isAdmin">Full Metrics <i
            class="fas fa-exclamation-circle"></i></a></li>
    </ul>
    <button type="button" *ngIf="isAdmin" class="btn btn-secondary l3" (click)="webSSH()">
      <i style="color:rgb(4, 255, 4);" class="fas fa-terminal"></i>
    </button>
  </ng-template>

  <ng-template pTemplate="right">
    <button type="button" class="btn btn-danger float-end mr-2" (click)="logout()"><i
        class="fas fa-sign-out-alt fa-fw"></i> Logout</button>
  </ng-template>
</p-toolbar>

<div id="internetStatusId" class="second-div">
  <div *ngIf="this.intChecked" style="text-align: center">
    <div id="internetStatus" style="height:500px;">
      <div style="text-align: center" id="iSpinner" class="spinner-border" role="status">
        <span style="text-align: center" class="sr-only"></span>
      </div>
    </div>
  </div>
  <div style="text-align: center">
    <div *ngIf="this.loading" style="text-align: center" id="mSpinner" class="spinner-border" role="status">
      <span style="text-align: center" class="sr-only"></span>
    </div>
  </div>
</div>

<div class="card">
  <p-table class="table" #dt [value]="responseData" styleClass="p-datatable-sm"
    [globalFilterFields]="['hostName','ipAddress','status','groupName','clusterName','envName','vmName','note']"
    selectionMode="multiple" [(selection)]="selectedHosts" [metaKeySelection]="true" [rowHover]="true" dataKey="_id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 16rem" class="text-center" pSortableColumn="hostName ">Host Name<p-sortIcon
            field="hostName"></p-sortIcon></th>
        <th style="width: 8rem" class="text-center" pSortableColumn="ipAddress">Address<p-sortIcon
            field="ipAddress"></p-sortIcon></th>
        <th style="width: 7rem" class="text-center" pSortableColumn="hostCheck" *ngIf="isAdmin">Host Check<p-sortIcon
            field="hostCheck"></p-sortIcon></th>
        <th style="width: 8rem" class="text-center" pSortableColumn="status">Services<p-sortIcon
            field="status"></p-sortIcon></th>
        <th style="width: 8rem" class="text-center" pSortableColumn="" *ngIf="isAdmin">SSH<p-sortIcon
            field=""></p-sortIcon></th>
        <th style="width: 7rem" class="text-center" pSortableColumn="metricsCheck" *ngIf="isAdmin">Metrics
          Check<p-sortIcon field="metricsCheck"></p-sortIcon></th>
        <th style="width: 8rem" class="text-center" pSortableColumn="hostMetrics">Host Metrics<p-sortIcon
            field="hostMetrics"></p-sortIcon>
        </th>
        <th style="width: 7rem" class="text-center" pSortableColumn="">Linked<p-sortIcon field=""></p-sortIcon></th>
        <th style="width: 13rem" class="text-center" pSortableColumn="groupName">Group Name<p-sortIcon
            field="groupName"></p-sortIcon></th>
        <th style="width: 18rem" class="text-center" pSortableColumn="clusterName">Cluster Name<p-sortIcon
            field="clusterName"></p-sortIcon></th>
        <th style="width: 10rem" class="text-center" pSortableColumn="envName">Env<p-sortIcon
            field="envName"></p-sortIcon></th>
        <th style="width: 18rem" class="text-center" pSortableColumn="vmName">VM<p-sortIcon field="vmName"></p-sortIcon>
        </th>
        <th style="width: 7rem" class="text-center" pSortableColumn="note">Note<p-sortIcon field="note"></p-sortIcon>
        </th>
        <th style="width: 9rem" class="text-center" pSortableColumn="">Option<p-sortIcon field=""></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-host let-rowIndex="rowIndex">
      <tr [pSelectableRow]="host" [pSelectableRowIndex]="rowIndex">
        <td class="text-center">
          <p-tableCheckbox [value]="host"></p-tableCheckbox>
        </td>
        <td class="nowrap text-center">{{host.hostName}}</td>
        <td class="nowrap text-center">{{host.ipAddress}}</td>
        <td *ngIf="isAdmin" class="text-center">
          <mat-slide-toggle color="accent" [(ngModel)]="host.hostCheck"
            (ngModelChange)="switchChange($event, host)"></mat-slide-toggle>
        </td>
        <td class="text-center">
          <div class="nowrap">
            <button type="button" class="btn btn-info btn-sm" (click)="selectedService = host; showServiceModalDialog()">
              <span>
                <i class="fab fa-scribd fa-fw"></i>
                <span class="small mr-1">Services &nbsp;&nbsp;</span>
                <span *ngIf="!host.status" class="badge bg-secondary md-2">&nbsp;&nbsp;</span>
                <span *ngIf="host.status === EStatus.UP" class="badge bg-success md-1">
                  <i class="fas fa-angle-double-up fa-fw"></i>
                </span>
                <span *ngIf="host.status === EStatus.DOWN" class="badge bg-danger md-1">
                  <i class="fas fa-angle-double-down fa-fw"></i>
                </span>
                <span *ngIf="host.status === EStatus.S_DOWN" class="badge bg-warning md-1">
                  <i class="fas fa-angle-double-right fa-fw"></i>
                </span>
              </span>
            </button>
          </div>
        </td>
        <td *ngIf="isAdmin" class="text-center">
          <a *ngIf="host.userName && (host.userPass || host.privateKey)" role="button" class="btn btn-light btn-sm"
            (click)="openTerminal(host)">
            <i style="color:green;" class="fas fa-terminal"></i>
          </a>
          <a *ngIf="host.userName && host.userPass" role="button" class="btn btn-light btn-sm"
            (click)="restartHost(host, 'restart-host')">
            <i style="color:rgb(0, 166, 255);" class="fas fa-sync-alt"></i>
          </a>
          <a *ngIf="host.userName && host.userPass" role="button" class="btn btn-light btn-sm"
            (click)="shutdownHost(host, 'shutdown-host')">
            <i style="color:red;" class="fas fa-power-off"></i>
          </a>
        </td>
        <td *ngIf="isAdmin" class="text-center">
          <div *ngIf="host.userName && host.userPass">
            <mat-slide-toggle [(ngModel)]="host.metricsCheck"
              (ngModelChange)="metricsCheckSwitch($event, host)"></mat-slide-toggle>
          </div>
        </td>
        <td class="text-center">
          <div class="nowrap">
            <button *ngIf="(host.hostMetrics | keyvalue)?.length" class="btn btn-light btn-sm dropdown-toggle"
              type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" (click)="this.selectedService = host;"
              aria-expanded="false">
              <!-- <i class="fas fa-eye"></i> -->
              <i style="color:magenta;" class="fas fa-chart-area"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
              <li><a class="dropdown-item" (click)="drawChart(host._id, '1')">1H Metrics</a></li>
              <li><a class="dropdown-item" (click)="drawChart(host._id, '2')">2H Metrics</a></li>
              <li><a class="dropdown-item" (click)="drawChart(host._id, '4')">4H Metrics</a></li>
              <li><a class="dropdown-item" (click)="drawChart(host._id, '8')">8H Metrics</a></li>
              <li><a class="dropdown-item" (click)="drawChart(host._id, '12')">12H Metrics</a></li>
              <li><a class="dropdown-item" (click)="drawChart(host._id, '24')">24H Metrics</a></li>
              <li><a class="dropdown-item" (click)="drawChart(host._id, '48')">48H Metrics</a></li>
              <li><a class="dropdown-item" (click)="drawChart(host._id, '72')">72H Metrics <i
                    class="fas fa-exclamation-circle"></i></a></li>
              <li><a class="dropdown-item" (click)="drawChart(host._id)" *ngIf="isAdmin">Full Metrics <i
                    class="fas fa-exclamation-circle"></i></a></li>
            </ul>
            <button *ngIf="(host.hostMetrics | keyvalue)?.length" type="button"
              class="btn btn-light rounded-circle btn-sm" data-bs-toggle="modal" data-bs-target="#hostStatus"
              (click)="this.selectedService = host">
              <span>
                <span
                  *ngIf="(host.hostMetrics[0].DiskFree <= 5 || host.hostMetrics[0].MemFree <= 0.1 || host.hostMetrics[0].CpuUsage >= 90) && (host.hostMetrics[0].DiskFree > 0)"
                  class="badge bg-warning sm-0">
                  <i class="fas fa-exclamation"></i>
                </span>
                <span
                  *ngIf="host.hostMetrics[0].DiskFree > 5 && host.hostMetrics[0].MemFree > 0.1 && host.hostMetrics[0].CpuUsage < 90"
                  class="badge bg-success sm-0">
                  <i class="far fa-thumbs-up"></i>
                </span>
                <span
                  *ngIf="host.hostMetrics[0].DiskFree === 0 && host.hostMetrics[0].MemFree === 0 && host.hostMetrics[0].CpuUsage === 0"
                  class="badge bg-danger sm-0">
                  <i class="fas fa-skull-crossbones"></i>
                </span>
              </span>
            </button>
          </div>
        </td>
        <td class="text-center">
          <div class="nowrap">
            <button type="button" class="btn btn-light btn-sm"
              (click)="this.selectedService = host; showLinkedModalDialog()">
              <i style="color:blue;" class="fas fa-link fa-fw"></i>
            </button>
          </div>
        </td>
        <td class="text-center">{{host.groupName}}</td>
        <td class="text-center">{{host.clusterName}}</td>
        <td class="text-center">{{host.envName}}</td>
        <td class="text-center">{{host.vmName}}</td>
        <td class="text-center" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
          <button type="button" class="btn btn-light btn-sm" (click)="this.selectedService = host; showNoteModalDialog()">
            Note <i class="fas fa-exclamation"></i>
          </button>
        </td>
        <td *ngIf="isAdmin" class="text-center">
          <div class="nowrap text-center">
            <button type="button" class="btn btn-primary btn-sm ml3" (click)="editData(host)">
              <i class="fas fa-edit fa-fw"></i>
            </button>
            <button type="button" class="btn btn-info btn-sm ml3" (click)="cloneData(host)">
              <i class="far fa-clone fa-fw"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm ml3" (click)="deleteData(host)">
              <i class="fas fa-trash fa-fw"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{responseData ? responseData.length : 0 }} servers.
      </div>
    </ng-template>
  </p-table>
</div>

<!-- Services Modal -->
<p-dialog header="Services Status" [(visible)]="serviceModal" [modal]="true" [maximizable]="true"
  [baseZIndex]="100" [draggable]="true" [resizable]="true">
  <div *ngIf="selectedService" class="card">
    <p-table class="table" #dt [value]="selectedService.port" styleClass="p-datatable-sm"
    [globalFilterFields]="['name','port','status', 'http', 'path', 'method', 'statuscode']"
    selectionMode="multiple" [(selection)]="selectedHostServices" [metaKeySelection]="true" [rowHover]="true"
    dataKey="_id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h3 style="font-weight: bold" class="text-center">{{ selectedService.hostName }} / {{ selectedService.ipAddress }}</h3>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 18rem" class="text-center" pSortableColumn="name">Service Name<p-sortIcon
            field="name"></p-sortIcon></th>
        <th style="width: 5rem" class="text-center" pSortableColumn="port">Port<p-sortIcon
            field="port"></p-sortIcon></th>
        <th style="width: 6rem" class="text-center" pSortableColumn="status">Status<p-sortIcon
            field="status"></p-sortIcon></th>
        <th style="width: 6rem" class="text-center" pSortableColumn="http">HTTP<p-sortIcon
            field="http"></p-sortIcon></th>
        <th style="width: 5rem" class="text-center" pSortableColumn="path">Path<p-sortIcon
            field="path"></p-sortIcon></th>
        <th style="width: 7rem" class="text-center" pSortableColumn="method">Method<p-sortIcon
            field="method"></p-sortIcon></th>
        <th style="width: 6rem" class="text-center" pSortableColumn="statuscode">Code<p-sortIcon
            field="statuscode"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-service let-rowIndex="rowIndex">
      <tr [pSelectableRow]="service" [pSelectableRowIndex]="rowIndex">
        <td class="text-center">
          <p-tableCheckbox [value]="service"></p-tableCheckbox>
        </td>
        <td class="nowrap text-center">{{service.name}}</td>
        <td class="nowrap text-center">{{service.port}}</td>
        <td class="nowrap text-center">
          <div class="nowrap">
            <span *ngIf="service.status === EStatus.UP" class="badge bg-success ml-1">
              <i class="fas fa-angle-double-up fa-fw"></i>
            </span>
            <span *ngIf="service.status === EStatus.DOWN" class="badge bg-danger ml-1">
              <i class="fas fa-angle-double-down fa-fw"></i>
            </span>
          </div>
        </td>
        <td class="nowrap text-center">
          <mat-slide-toggle [(ngModel)]="service.http"></mat-slide-toggle>
        </td>
        <td class="nowrap text-center">{{service.path}}</td>
        <td class="nowrap text-center">{{service.method}}</td>
        <td class="nowrap text-center">{{service.statuscode}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{selectedService.port ? selectedService.port.length : 0 }} services.
      </div>
    </ng-template>
    </p-table>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="serviceModal=false" label="Close"></p-button>
  </ng-template>
</p-dialog>


<!-- link modal -->
<p-dialog header="Linked Hosts" [(visible)]="linkedModal" [modal]="true" [style]="{width: '60vw'}" [maximizable]="true"
  [baseZIndex]="100" [draggable]="true" [resizable]="true">
  <div *ngIf="selectedService" class="card">
    <p-table class="table" #dt [value]="selectedService.linkTo" styleClass="p-datatable-sm"
    [globalFilterFields]="['hostName', 'ipAddress', 'port']"
    selectionMode="multiple" [(selection)]="selectedHostServices" [metaKeySelection]="true" [rowHover]="true"
    dataKey="_id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h3 style="font-weight: bold" class="text-center">{{ selectedService.hostName }} / {{ selectedService.ipAddress }}</h3>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 18rem" class="text-center" pSortableColumn="hostName">Host Name<p-sortIcon
            field="hostName"></p-sortIcon></th>
        <th style="width: 10rem" class="text-center" pSortableColumn="ipAddress">Address<p-sortIcon
            field="ipAddress"></p-sortIcon></th>
        <th style="width: 5rem" class="text-center" pSortableColumn="port">Port<p-sortIcon
            field="port"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-link let-rowIndex="rowIndex">
      <tr [pSelectableRow]="link" [pSelectableRowIndex]="rowIndex">
        <td class="text-center">
          <p-tableCheckbox [value]="link"></p-tableCheckbox>
        </td>
        <td class="nowrap text-center">{{link.hostName}}</td>
        <td class="nowrap text-center">{{link.ipAddress}}</td>
        <td class="nowrap text-center">{{link.port}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{selectedService.linkTo ? selectedService.linkTo.length : 0 }} servers linked.
      </div>
    </ng-template>
    </p-table>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="linkedModal=false" label="Close"></p-button>
  </ng-template>
</p-dialog>


<!-- Host Metrics Modal -->
<div class="modal fade" id="hostStatus" tabindex="-1" role="dialog" aria-labelledby="hostStatusModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div *ngIf="selectedService" class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title mb-0 bold w-100" id="hostStatusModalLabel">Host Metrics Status<br> </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div>
        <h3 class="modal-title mb-0 bold w-100 text-center" id="hostStatusModalLabel">{{ selectedService.hostName }} /
          {{ selectedService.ipAddress }}</h3>
      </div>
      <div class="modal-body p-1">
        <table class="table table-striped table-hover text-center">
          <thead>
            <tr class="text-light bg-dark">
              <th scope="col">#</th>
              <th scope="col">Disk Free in GB</th>
              <th scope="col">Memory Free in GB</th>
              <th scope="col">CPU Usage in %</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of selectedService.hostMetrics ; let i = index">
              <td>{{i + 1}}</td>
              <td *ngIf="data.DiskFree <= 5" class="table-danger">{{data.DiskFree}}</td>
              <td *ngIf="data.DiskFree > 5" class="table-success">{{data.DiskFree}}</td>

              <td *ngIf="data.MemFree <= 0.1" class="table-danger">{{data.MemFree}}</td>
              <td *ngIf="data.MemFree > 0.1" class="table-success">{{data.MemFree}}</td>

              <td
                *ngIf="(data.DiskFree === 0 && data.MemFree === 0 && data.CpuUsage === 0) || (data.DiskFree > 0 && data.CpuUsage >= 90)"
                class="table-danger">{{data.CpuUsage}}</td>
              <td *ngIf="data.DiskFree > 0 && data.CpuUsage < 90" class="table-success">{{data.CpuUsage}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Note Modal -->
<p-dialog header="Notes" [(visible)]="noteModal" [modal]="true" [style]="{width: '60vw'}" [maximizable]="true"
  [baseZIndex]="100" [draggable]="true" [resizable]="true">
  <div *ngIf="selectedService">
    <h3 style="font-weight: bold" class="text-center">{{ selectedService.hostName }} / {{ selectedService.ipAddress }}</h3>
    <p>{{selectedService.note}}</p>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="linkedModal=false" label="Close"></p-button>
  </ng-template>
</p-dialog>
